fitbit:
  api-base-uri: ${FITBIT_API_BASE_URI:https://api.fitbit.com}
  client-id: ${FITBIT_CLIENT_ID:}
  client-secret: ${FITBIT_CLIENT_SECRET:}
  redirect-uri: ${FITBIT_REDIRECT_URI:http://localhost:8080/oauth/fitbit/callback}
  authorize-uri: ${FITBIT_AUTHORIZE_URI:https://www.fitbit.com/oauth2/authorize}
  token-uri: ${FITBIT_TOKEN_URI:https://api.fitbit.com/oauth2/token}
  scope: ${FITBIT_SCOPE:activity heartrate profile sleep weight}
spring:
  application:
    name: fitdata
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true
  profiles:
    active: ${SPRING_PROFILES_ACTIVE}